main{
    width: 1080px;
    height: 1920px;
    background-color: rgb(238, 251, 255);
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 5em;
}
h2{
    width: 1080px;
    height: 120px;
    margin-top: 0em;
    background-color: #006298;
    font-size: 70px;
    text-align: center;
    color: white;
}
.menu {
    width:110px;
    height: 110;
    top: -320px;
    left: 50px;
    position: relative;
}
.search {
    width: 80px;
    height:auto;
    top: -480px;
    left: 980px;
    position: relative;
}
h1{
    font-size: 50;
    color: #006298;
    margin-left: 40px;
}
input{
    width: 1000px;
    height: 100px;
    position: relative;
    left: 40px;
    margin-bottom: -100px;
    font-size: 40;
    margin-top: 150px;
    position: relative;
    top: -180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#PigButton{
    color: white;
    background-color: #006298;
    font-size: 50;
    border-top-left-radius : 100px;
    border-bottom-left-radius : 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 40px;
    margin-left: 450px;
    margin-top: 200px;
}
#money{
    width: 1000px;
    height: 100px;
    margin-left: 40px;
    border-top-left-radius : 25px;
    border-bottom-left-radius : 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 40;
}
#period{
    width: 1000px;
    height: 100px;
    margin-left: 40px;
    border-top-left-radius : 25px;
    border-bottom-left-radius : 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 40;
}
#cycle{
    width: 1000px;
    height: 100px;
    margin-left: 40px;
    border-top-left-radius : 25px;
    border-bottom-left-radius : 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 40;
}