#menuclick{
    position:fixed;
    top : 70px;
    left: 8px;
    display: none;
}
#member{
    background-color:#00498C;
    width: 900px;
    height: 400px;
}

h2{
    font-family:"210 옴니고딕 050";
    text-align: left;
    margin-left:50px;
    color: #ffffff;
    font-size : 70px;
    padding-top : 60px;
}

h3{
    font-family:"210 옴니고딕 010";
    text-align: left;
    margin-left:50px;
    color: #ffffff;
    font-size : 30px;
    margin-top : 40px;

}

#facelogo{
    margin-top:15px;
    margin-left:20px;
    width:150px;
    height:auto;

}

#menupage{
    width:900px;
    height:1400px;
    background-color:#41719A;
    margin-top:-50px;
}

ul{
    font-family:"배달의민족 주아";
    padding-top:40px;
    font-size: 50px;
    font-weight: bold;
    color:#FFFfFF;
}
li{
    list-style:none;
    margin-left:20px;
    padding-left:20px;
    font-size : 40px;
    padding-top: 30px;
    font-weight: lighter;
    color:#CCCCCC;
}

button{
    width: 230px;
    height: 60px;
    margin-top: 30px;
    margin-left: 70%;
    color: #888888;
    font-size : 40px;
    text-align: center;
    position: relative;
}

hr{
    border: 3px solid rgb(85, 85, 85);
    width: 90%;
    margin-left: 2rem;
    position: relative;
    top: 30px;
}

a {
    text-decoration:none;
    color : #FFFfFF;
}